body {
  color: lightseagreen;
  font-family: monospace;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: lightseagreen;
  font-weight: bold;
}

a:active {
  color: orangered;
}

.homepage {
  background: lightyellow;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.ball {
  background: url(/robert.jpg) #b0cde8;
  background-size: cover;
  border-radius: 100%;
  height: 125px;
  position: absolute;
  width: 125px;
  z-index: 1;
}

.credits {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: absolute;
  right: 0;  
  top: 0;
}

@media (min-width: 420px) {
  .credits {
    flex-direction: row;
  }
}

.credits a {
  margin: 10px;
}
